<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Todolist</title>
	</head>
	<body>
		<h1><%= currDay %></h1>
		<ul>
			<li>Go workout</li>
			<li>Buy Food</li>
			<li>Cook Food</li>
			<li><%= newListItem %></li>
		</ul>

		<!-- <form class="" action="" method="">
			<input type="text" name="newItem" placeholder="task" />
			<button type="submit">Add Task</button>
		</form> -->
	</body>
</html>
